[submodule "task-tracker-python"]
	path = task-tracker-python
	url = https://github.com/NicolasVegaQ/task-tracker-python.git
[submodule "Inventory-Tracker-CLI"]
	path = Inventory-Tracker-CLI
	url = https://github.com/NicolasVegaQ/Inventory-Tracker-CLI.git
